<div class="libro-view-container">
  @if (libro(); as l) {
    <article class="libro-view">
      <a class="back-link" routerLink="/libros">
        <lib-icon name="arrow-right" [size]="14" />
        <span>Volver a libros</span>
      </a>

      <div class="libro-header">
        <div class="libro-portada">
          <img fill priority [alt]="'Portada de ' + l.titulo" [ngSrc]="l.imagen" />
        </div>

        <div class="libro-datos">
          <h1>{{ l.titulo }}</h1>
          <p class="libro-serie">{{ l.saga }} #{{ l.numero }}</p>

          <div class="libro-sinopsis">
            <markdown [data]="l.sinopsis" />
          </div>

          @if (l.tiendas.length > 0) {
            <div class="libro-tiendas">
              @for (tienda of l.tiendas; track tienda.url) {
                <a
                  class="tienda-boton"
                  rel="noopener noreferrer"
                  target="_blank"
                  [href]="tienda.url"
                >
                  <app-logo-tienda [size]="20" [tienda]="tienda.logo" />
                  <span>Comprar en {{ tienda.nombre }}</span>
                </a>
              }
            </div>
          }
        </div>
      </div>
    </article>
  }
</div>
