.layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid:
    'header' auto
    'main' 1fr
    'footer' auto
    / auto;
  gap: 5px;
}

.header {
  grid-area: header;
  max-width: 250px;
  margin: 0 auto;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  overflow-y: auto;
  min-height: 0;
}

.panel-section {
  flex: 0 0 auto;
}

.skills-section {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.tags-section {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 10px 0;
}
