<div class="meal-list-container">
  <div class="header">
    <h1>Comidas</h1>
    <a routerLink="/meals/new" class="btn-add">+Comida</a>
  </div>

  <div class="grid">
    @for (meal of mealService.meals(); track meal.id) {
      <app-meal-card
        [meal]="meal"
        [showDelete]="true"
        [showEdit]="true"
        (delete)="deleteMeal(meal.id)"
        (edit)="editMeal($event)"
        (cardClick)="editMeal(meal.id)"
      ></app-meal-card>
    } @empty {
      <p class="empty-state">No hay comidas guardadas. ¡Creá una!</p>
    }
  </div>
</div>
