.navigator {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
}

.navigator ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
}

.navigator li {
  margin: 0 15px;
}

.navigator a {
  text-decoration: none;
  color: #fafafa;
  padding: 10px 15px;
  border-radius: 5px;
  transition:
    background-color 0.3s,
    color 0.3s;
  font-weight: 500;
}

.navigator a:hover {
  background-color: #007bff;
}

.navigator a.active {
  background-color: #007bff;
  color: white;
}
