<div class="post-container">
  @for (post of posts; track post.src; let i = $index) {
  <div class="post">
    <div class="post-header">
      <span>{{i + 1}}#</span>
      <h2>{{ post.title | titlecase}}</h2>
      <span class="post-date">{{ post.fecha }}</span>
      <lib-boton
        [onClick]="togglePost.bind(this, post)"
        [texto]="post.isExpanded ? 'Colapsar' : 'Expandir'"
      />
    </div>
    @if (post.isExpanded) {
    <div class="post-content">
      <markdown [src]="post.src" />
    </div>
    }
  </div>
  }
</div>
