/* You can add global styles to this file, and also import other style files */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
  font-optical-sizing: auto;
  background-image: url('../public/fondo.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

// Tema

:root {
  /* Base colors */
  --dark-a0: #000000;
  --light-a0: #ffffff;

  /* Theme primary colors */
  --primary-a0: #4c0082;
  --primary-a10: #622690;
  --primary-a20: #76419e;
  --primary-a30: #8a5bac;
  --primary-a40: #9e75ba;
  --primary-a50: #b290c8;

  --primary-transpartent-a0: rgba(76, 0, 130, 0.3);
  --primary-transpartent-a10: rgba(98, 38, 144, 0.3);
  --primary-transpartent-a20: rgba(118, 65, 158, 0.3);
  --primary-transpartent-a30: rgba(138, 91, 172, 0.3);
  --primary-transpartent-a40: rgba(158, 117, 186, 0.3);
  --primary-transpartent-a50: rgba(178, 144, 200, 0.3);

  /* Theme surface colors */
  --surface-a0: #121212;
  --surface-a10: #282828;
  --surface-a20: #3f3f3f;
  --surface-a30: #575757;
  --surface-a40: #717171;
  --surface-a50: #8b8b8b;

  --surface-transpartent-a0: rgba(18, 18, 18, 0.3);
  --surface-transpartent-a10: rgba(40, 40, 40, 0.3);
  --surface-transpartent-a20: rgba(63, 63, 63, 0.3);
  --surface-transpartent-a30: rgba(87, 87, 87, 0.3);
  --surface-transpartent-a40: rgba(113, 113, 113, 0.3);
  --surface-transpartent-a50: rgba(139, 139, 139, 0.3);

  /* Theme tonal surface colors */
  --surface-tonal-a0: #19131d;
  --surface-tonal-a10: #2e2832;
  --surface-tonal-a20: #443f48;
  --surface-tonal-a30: #5c5860;
  --surface-tonal-a40: #757178;
  --surface-tonal-a50: #8f8c92;
}

.bg-primary {
  background-color: var(--surface-transpartent-a0);
  color: var(--light-a0);
}
