/* You can add global styles to this file, and also import other style files */
body,
html {
  font-family: 'Libre Franklin', sans-serif;
  font-optical-sizing: auto;
  // Toda la pantalla
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // Imagen de fondo
  background: url('../public/fondo.webp') no-repeat center center fixed;
  background-size: cover;
}

/* CSS Variables */
:root {
  --color-1: #1e1e48;
  --color-2: #3e3f7e;
  --color-3: #5b5c9a;
  --color-4: #7d7eaa;
  --color-5: #b2b3d7;
}

.bg-30 {
  background-color: rgba(30, 30, 72, 0.3);
  color: white;
}
